$mobile-bg-blk:rgb(31, 31, 31);
$mobile-bg-brn:rgb(46, 40, 40);
$mobile-bg-ht:850px; 


html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
*
{
    margin:0px;
    padding:0px;
}

// Make 100% height of browser window
body, #root {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(14, 13, 13), rgb(41, 41, 41));
    @media (max-width:767px)
    {
      height:1000px;
      background-image: linear-gradient(to bottom right, rgb(14, 13, 13), rgb(41, 41, 41));
    }
}

// General wrapper for site
.wrapper{
    display: block;
    height: 100%;
    //overflow: hidden;
}
// General content container
.content {
    display: block;
    position: relative;
    width: 100%;
    height:100%;
    max-width: 1024px; 
    margin: 0 auto;
    text-align: center;
    padding: 0 20px 0 20px;
}

.page-wrap {
    text-align: left;
}

h1 {
    font-size: 2rem;
}

p{
    margin: 1rem auto;
    text-align: left;
}

// <--------------------------------HOME------------------->
#home-page
{
  background:transparent;
  height:100%;
  @media (max-width:767px)
  {
    background: $mobile-bg-blk;
    height:$mobile-bg-ht;
  }


    #home-header
  {
    font-family:"Monda-Bold";
    font-size:2.2em; 
    text-align:center; 
    border-top: 1px solid white; 
    border-bottom: 1px solid white; 
    margin-top:250px;
    color:white;
    @media (min-width:992px) and (max-width:1139px)
    {
      margin-top:200px;
    }
  }
    .body-font
  {
    font-size:1.5em; 
    text-align: center;
    color:white; 
  }

}

// <----------------------------ABOUT PAGE---------------->
.col-md-4.padding, .col-md-8.padding
{
  padding:0px
}

#about-page
{
  background:transparent;
  height:100%;
  @media (max-width:767px)
  {
    background: $mobile-bg-brn;
    height:$mobile-bg-ht;   
  }

    #about-header
  {
    font-family:"Monda-Bold";
    font-size:3em; 
    text-align:center; 
    margin-top:200px;
    color:white;

    @media (max-width:767px)
    {
      margin-top:100px; 
      font-size:2.3em; 
    }
    @media (min-width:992px) and (max-width:1139px)
    {
      margin-top:150px; 
      font-size:2.3em; 
    }
  }
    #about-font
  {
    font-size:1.5em; 
    text-align:left;
    color:white; 
    font-family:"Monda-Regular";
    border-left:white 1px solid;
    padding-left:10px;
    margin-left:10px; 
    @media (max-width:767px)
    {
      font-size:1em; 
      border:none; 
      text-align:center;
    }
    @media (min-width:992px) and (max-width:1139px)
    {
      font-size:1.4em;
    }
  }
  #about-topic
  {
    color:lightgrey;
    text-align:right;
    font-size:2.2em; 
    color:white; 
    font-family:"JuliusSansOne-Regular";
    @media (max-width:767px)
    {
      font-size:1.7em; 
      margin-top:50px; 
      border:none; 
      text-align:center;
    }
    @media (min-width:992px) and (max-width:1139px)
    {
      font-size:2em;
    }
  }
  #bottom-about-font
  {
    font-family:"Monda-Bold";
    font-size:2em; 
    margin-top:100px; 
    text-align:center; 
    color:white;
    @media (max-width:767px)
    {
      font-size:1em; 
      border:none; 
      text-align:center;
      font-family:"JuliusSansOne-Regular"; 
    }
    @media (min-width:992px) and (max-width:1139px)
    {
      font-size:1.5em;
    }
  }

}

// <-----------------------------TEAM PAGE ------------------------->
#team-page
{
  background:transparent;
  height:100%;
  @media (max-width:767px)
  {
    background:$mobile-bg-blk;
    height:$mobile-bg-ht; 
  }

    #team-header
  {
    font-family:"Monda-Bold";
    font-size:2em; 
    margin-bottom:50px;
    text-align:center; 
    color:white;
    margin-top:100px; 
    @media (min-width:768px)
    {
      font-size:3.2em; 
    }
    @media (min-width:992px) and (max-width:1139px)
    {
      margin-top:150px; 
    } 
  }
    #team-font
  {
    font-size:1em; 
    text-align: center;
    color:white; 
    font-family:"Monda-Regular";
    padding-top:0px;
      margin-top:0px;
      margin-bottom:25px;
    @media (min-width:768px)
    {
      font-size:1.2em;
    }
  }
  #team-topic
  {
    font-size:1.2em; 
    text-align: center;
    color:white; 
    font-family:"JuliusSansOne-Regular";
  }

}

img.imgBorder
{
    border-radius:7%;
    border:6px solid rgb(56, 54, 54);
    display:inline-block;
}
img
{
  @media (min-width:992px) and (max-width:1139px)
  {
    width:200px; 
  }
}

#contact-page
{
  background:transparent;
  height:100%;
  @media (max-width:767px)
  {
    background:$mobile-bg-blk;
    height:$mobile-bg-ht; 
  }
  #contact-header
  {
    font-family:"Monda-Bold";
    font-size:2em; 
    text-align:center; 
    color:white;
    margin-top:100px; 
    @media (min-width:768px)
    {
      font-size:2.5em;
      margin-top:150px;
      margin-bottom:15px;
    }
  }
  #contact-font
  {
    font-size:1.1em; 
    text-align: center;
    color:white; 
    font-family:"Monda-Regular"; 
    @media (min-width:768px)
    {
      font-size:1.5em;
      margin-bottom:60px;
    }
  }
  #phone-header
  {
    font-size:1.3em; 
    text-align: center;
    color:white; 
    font-family:"JuliusSansOne-Regular"; 
    
  }
  span#phone-font
  {
font-size:.8em; 
    text-align: center;
    color:white; 
    font-family:"Monda-Regular"; 
    vertical-align:center;
  }
  #email-header
  {
    font-size:1.3em; 
    text-align: center;
    color:white; 
    font-family:"JuliusSansOne-Regular"; 
  }
  span#email-font
  {
    font-size:.9em; 
    text-align: center;
    color:white; 
    font-family:"Monda-Regular"; 
  }
  Label
  {
    font-family:"JuliusSansOne-Regular";
  color:whitesmoke;
    @media (min-width:768px)
    {
      font-size:1.4em;
    }
  }
  Input
{
  background-color:rgb(54, 49, 49); 
  width:100%; 
  height:50px;
  border:none;
  border-radius: 5%;
  color:rgb(214, 214, 214);
  margin-top:5px;
  padding-left:5px;
  font-family:"Monda-Regular";
  @media (min-width:768px)
    {
      font-size:1.2em;
      margin-bottom:15px;
    }
}
textarea
{
  background-color:rgb(54, 49, 49); 
  width:100%; 
  height:150px;
  border:none;
  border-radius: 5%; 
  color:rgb(214, 214, 214);
  padding-top: 10px; 
  font-family:"Monda-Regular"; 
  margin-top:5px;
  padding-left:5px;
  @media (min-width:768px)
    {
      font-size:1.2em;
    }
}

.form-control:focus, .form-control:hover
{
    background-color:rgb(77, 68, 68);
    outline:none;
    box-shadow:none;
    border-color:lightgray;
    color:rgb(214, 214, 214);
}
.invalid-feedback
{
  color:rgb(245, 131, 131);
}
@media (min-width:768px)
{
  .bottom-row
  {
    margin-top:40px;
  }
}
}

#services-page
{
  background:transparent;
  height:100%;
  @media (max-width:767px)
  {
    background:$mobile-bg-brn;
    height:$mobile-bg-ht; 
  }
  .services-item
  {
    font-size:1.5em;
    font-family:"Monda-Bold";
    color:white;  
    text-align:center;
    @media (min-width:768px)
    {
      font-size:1.7em;
    }
    @media (min-width:992px)
    {
      font-size:1.4em; 
    }
  }
    #services-header
  {
    font-family:"Monda-Bold";
    font-size:2em; 
    color:white;
    margin-top:100px; 
    @media (min-width:768px)
    {
      font-size:2.5em;
      padding-bottom:20px;
    }
    @media (min-width:992px)
    {
      font-size:2.5em;
      padding-top:20px;
    }
  }
    .services-font
  {
    font-size:1.1em; 
    text-align: center;
    color:rgb(231, 229, 229); 
    font-family:"JuliusSansOne-Regular";
    @media (min-width:768px)
    {
      font-size:1.5em;
    }
    @media (min-width:992px)
    {
      font-size:1.2em;
    }
  }
  #team-topic
  {
    font-size:1.2em; 
    text-align: center;
    color:white; 
    font-family:"JuliusSansOne-Regular";
  }

}




#sidenav {
  z-index: 100;
  background-color:transparent;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -75%);
    @media (min-width:992px)
    {
      transform: translate(-10%, -60%);
      font-size:.9em;
    }

  .content{
      display: flex;
      justify-content: space-between;
  }
  ul {
      list-style-type: none;
      padding: 0;

      li {
          margin: 0 10px;

          a {
              color:rgb(173, 184, 196);
              padding: 2px;
              transition: border 0.5s ease-in-out;
              text-decoration: none;
              font-family:"Monda-Regular"; 
              &:focus{
                color:rgb(241, 231, 231); 
              }
              &:hover{
                color:rgb(241, 231, 231); 
              }
          }
      }
  }
}

#header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding-top: 1rem;
    padding-left:.2rem;
    background-color:transparent;

    @media (min-width:768px) and (max-width:991px)
    {
      #logoResponsive
      {
        width:45px; 
        height: auto;
        padding-top:17px; 
        padding-left:0px; 
      }
    }
      @media (min-width:992px)
    {
      #logoResponsive
      {
        width:30px; 
        height: auto;
        padding-top:17px; 
        padding-left:0px; 
      }
      
    }

    .content{
        display: flex;
        justify-content: space-between;
    }
    #headerFont
	{
        color:whitesmoke;
        position:absolute;
        font-size:1.5rem;
        margin-top:30px;
        left:60px;
        text-align:center;
        font-family: 'JuliusSansOne-Regular', Sans-Serif; 
        @media (min-width:992px)
        {
          font-size:1.2em;
          margin-top:24px;
          left:40px;
        }  
    }
    

    ul {
        display: block;
        list-style-type: none;
        padding-top:5px; 
        padding-right: 65px;

        li {
            display: inline-block;
            margin: 0 5px;
            font-family:"Monda-Regular";
            font-size:.8em;

            a {
                color:white; 
                padding: 2px;
                transition: border 0.5s ease-in-out;
                text-decoration: none;

                &:hover{
                    border-bottom: 2px solid #ffffff;
                }
            }
        }
    }
}
div.wrap{
    overflow: hidden;
}
section.route-section {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
}
  
// SET TO RELATIVE AFTER TRANSITION
section.route-section.transition-wrap-enter-done{
    position: relative;
}
  
.page-wrap {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.transition-wrap {
    position: absolute;
    left: 15px;
    right: 15px;
    transition: all 1s ease-in-out;
  }
  
  .transition-group.up .transition-wrap-enter {
    position: absolute;
    opacity: 0;
     transform: translate3d(0, 100%, 0);
  }
  
  .up  .transition-wrap-enter-active{
    opacity: 1;
    transform: translate3d(0, 100%, 0);
    transition: opacity 300ms, transform 3s;
  }
  
  .up .transition-wrap-exit {
    position: absolute;
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }
  
  .up .transition-wrap-exit-active {
    position: absolute;
    opacity: 0;
    transform: scale(0.9);
    transform: translate3d(0, -100%, 0);
  }
  
  // right
  .down .transition-wrap-enter {
    position: absolute;
    opacity: 0;
     transform: translate3d(0, -100%, 0);
  }
  
  .down .transition-wrap-enter-active {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
    transition: opacity 300ms, transform 3s;
  }
  
  .down .transition-wrap-exit {
    position: absolute;
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
  
  .down .transition-wrap-exit-active {
    position: absolute;
    opacity: 0;
    transform: scale(0.9);
    transform: translate3d(0, 100%, 0);
  }



  
  .wrapper {

    transition: all 0.5s ease-in-out;
    background:transparent;


  
    // &.home &.about {
    //   background: rgba(9, 60, 111, 1);
    //   color: #f1f1f1;
    // }
  
    // // &.about {
    // //   background: rgba(214, 218, 93, 1);
    // //   color: rgb(14, 13, 13);
    // // }
    // &.services{
    //   background: rgba(249, 58, 58, 1);
    //   color: rgb(14, 13, 13);
    // }
    // &.team {
    //   background: rgba(58, 249, 139, 1);
    //   color: rgb(14, 13, 13);
    // }
    // &.contact{
    //   background: rgba(75, 161, 248, 1);
    //   color: #f1f1f1;
    // } 
  }

//   <---------------------END SCSS TRANSITIONS----------->

// <----------------HOME--------------------------->
