$mobile-bg-blk:rgb(31, 31, 31);
$mobile-bg-brn:rgb(46, 40, 40);
$mobile-bg-ht:850px; 

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
*
{
    margin:0px;
    padding:0px;
}

// Make 100% height of browser window
body, #root {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(14, 13, 13), rgb(41, 41, 41));
    @media (max-width:767px)
    {
      height:1000px;
      background-image: linear-gradient(to bottom right, rgb(14, 13, 13), rgb(41, 41, 41));
    }
}

// General wrapper for site
.wrapper{
    display: block;
    height: 100%;
    //overflow: hidden;
}
// General content container
.content {
    display: block;
    position: relative;
    width: 100%;
    height:100%;
    max-width: 1024px; 
    margin: 0 auto;
    text-align: center;
}

.content {
    display: block;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    text-align: center;
}

.page-wrap {
    text-align: left;
}

h1 {
    font-size: 2rem;
}

p{
    margin: 1rem auto;
    text-align: left;
}

// <--------------------------------HOME------------------->
#home-page
{
  background:transparent;
  height:100%;
  @media (max-width:767px)
  {
    background: $mobile-bg-blk;
    height:$mobile-bg-ht;
  }

    #home-header
  {
    font-family:"Monda-Bold";
    font-size:2em; 
    text-align:center; 
    border-top: 1px solid white; 
    border-bottom: 1px solid white; 
    margin-top:100px;
    color:white;
  }
    .body-font
  {
    font-size:1.2em; 
    text-align: center;
    color:white; 
  }

}

// <----------------------------ABOUT PAGE---------------->
#about-page
{
  background:transparent;
  height:100%;
  @media (max-width:767px)
  {
    background: $mobile-bg-brn;
    height:$mobile-bg-ht; 
  }

    #about-header
  {
    font-family:"Monda-Bold";
    font-size:2em; 
    text-align:center; 
    margin-top:100px;
    color:white;
  }
    #about-font
  {
    font-size:1.2em; 
    text-align: center;
    color:white; 
    font-family:"Monda-Regular";
  }
  #about-topic
  {
    font-size:1.2em; 
    text-align: center;
    color:white; 
    font-family:"JuliusSansOne-Regular";
  }

}

// <-----------------------------TEAM PAGE ------------------------->
#team-page
{
  background:transparent;
  height:100%;
  @media (max-width:767px)
  {
    background:$mobile-bg-blk;
    height:$mobile-bg-ht; 
  }

    #team-header
  {
    font-family:"Monda-Bold";
    font-size:2em; 
    text-align:center; 
    color:white;
    margin-top:100px; 
  }
    #team-font
  {
    font-size:1.2em; 
    text-align: center;
    color:white; 
    font-family:"Monda-Regular";
  }
  #team-topic
  {
    font-size:1.2em; 
    text-align: center;
    color:white; 
    font-family:"JuliusSansOne-Regular";
  }

}

img.imgBorder
{
    border-radius:7%;
    border:6px solid rgb(56, 54, 54);
    display:inline-block;
}
.imgPadCenter
{
    margin-right:30px;
}
.imgText
{
    text-align:center;
}
@media (min-width:768px)
{
  .imgHoverL:hover
  {
      border:6px solid rgb(74, 85, 95);
      position:relative;
      top:-20px;
      left:-30px;
      width:180px;
      height:auto;
      display:block;
      z-index:999;
  }
  .imgHoverC:hover
  {
      border:6px solid rgb(74, 85, 95);
      position:relative;
      top:-20px;
      left:-10px;
      width:180px;
      height:auto;
      display:block;
      z-index:999;
  }
  .imgHoverR:hover
  {
      border:6px solid rgb(74, 85, 95);
      position:relative;
      top:-20px;
      right:-10px;
      width:180px;
      height:auto;
      display:block;
      z-index:999;
  }
}

#contact-page
{
  background:transparent;
  height:100%;
  @media (max-width:767px)
  {
    background:$mobile-bg-blk;
    height:$mobile-bg-ht; 
  }
  #contact-header
  {
    font-family:"Monda-Bold";
    font-size:2em; 
    text-align:center; 
    color:white;
    margin-top:100px; 
  }
  #contact-font
  {
    font-size:1.1em; 
    text-align: center;
    color:white; 
    font-family:"Monda-Regular"; 
  }
  #phone-header
  {
    font-size:1.3em; 
    text-align: center;
    color:white; 
    font-family:"JuliusSansOne-Regular"; 
  }
  span#phone-font
  {
font-size:.8em; 
    text-align: center;
    color:white; 
    font-family:"Monda-Regular"; 
    vertical-align:center;
    min-height:20px; 
  }
  #email-header
  {
    font-size:1.3em; 
    text-align: center;
    color:white; 
    font-family:"JuliusSansOne-Regular"; 
  }
  span#email-font
  {
    font-size:.9em; 
    text-align: center;
    color:white; 
    font-family:"Monda-Regular"; 
  }
  Label
  {
    color:white; 
  }
}

#services-page
{
  background:transparent;
  height:100%;
  @media (max-width:767px)
  {
    background:$mobile-bg-brn;
    height:$mobile-bg-ht; 
  }
  .services-item
  {
    font-size:1.5em;
    font-family:"Monda-Bold";
    color:white;  
    text-align:center;
  }
    #services-header
  {
    font-family:"Monda-Bold";
    font-size:2em; 
    color:white;
    margin-top:100px; 
  }
    .services-font
  {
    font-size:1.1em; 
    text-align: center;
    color:white; 
    font-family:"JuliusSansOne-Regular";
  }
  #team-topic
  {
    font-size:1.2em; 
    text-align: center;
    color:white; 
    font-family:"JuliusSansOne-Regular";
  }

}




#sidenav {
  z-index: 100;
  background-color:transparent;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -75%);

  .content{
      display: flex;
      justify-content: space-between;
  }

  ul {
      list-style-type: none;
      padding: 0;

      li {
          margin: 0 10px;

          a {
              color:white;
              padding: 2px;
              transition: border 0.5s ease-in-out;
              text-decoration: none;
          }
      }
  }
}

#header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding-top: 1rem;
    padding-left:.2rem;
    background-color:transparent;

    @media (min-width:768px)
    {
      #logoResponsive
      {
        width:45px; 
        height: auto;
      }
    }

    .content{
        display: flex;
        justify-content: space-between;
    }
    #headerFont
	{
        color:whitesmoke;
        position:absolute;
        font-size:1.5rem;
        margin-top:13px;
        left:60px;
        text-align:center;
        font-family: 'JuliusSansOne-Regular', Sans-Serif;   
    }
    

    ul {
        display: block;
        list-style-type: none;
        padding-bottom:7px;
        padding-right: 45px;

        li {
            display: inline-block;
            margin: 0 5px;
            font-family:"Monda-Regular";
            font-size:.8em;

            a {
                color:white; ;
                padding: 2px;
                transition: border 0.5s ease-in-out;
                text-decoration: none;

                &:hover{
                    border-bottom: 2px solid #ffffff;
                }
            }
        }
    }
}
div.wrap{
    overflow: hidden;
}
section.route-section {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
}
  
// SET TO RELATIVE AFTER TRANSITION
section.route-section.transition-wrap-enter-done{
    position: relative;
}
  
.page-wrap {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.transition-wrap {
    position: absolute;
    left: 15px;
    right: 15px;
    transition: all 1s ease-in-out;
  }
  
  .transition-group.up .transition-wrap-enter {
    position: absolute;
    opacity: 0;
     transform: translate3d(0, 100%, 0);
  }
  
  .up  .transition-wrap-enter-active{
    opacity: 1;
    transform: translate3d(0, 100%, 0);
    transition: opacity 300ms, transform 3s;
  }
  
  .up .transition-wrap-exit {
    position: absolute;
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }
  
  .up .transition-wrap-exit-active {
    position: absolute;
    opacity: 0;
    transform: scale(0.9);
    transform: translate3d(0, -100%, 0);
  }
  
  // right
  .down .transition-wrap-enter {
    position: absolute;
    opacity: 0;
     transform: translate3d(0, -100%, 0);
  }
  
  .down .transition-wrap-enter-active {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
    transition: opacity 300ms, transform 3s;
  }
  
  .down .transition-wrap-exit {
    position: absolute;
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
  
  .down .transition-wrap-exit-active {
    position: absolute;
    opacity: 0;
    transform: scale(0.9);
    transform: translate3d(0, 100%, 0);
  }

Input
{
  background-color:rgb(54, 49, 49); 
  width:100%; 
  height:50px;
  border:none;
  border-radius: 5%;
  color:rgb(214, 214, 214);
  margin-top:5px;
  padding-left:5px;
  font-family:"Monda-Regular";
}
textarea
{
  background-color:rgb(54, 49, 49); 
  width:100%; 
  height:150px;
  border:none;
  border-radius: 5%; 
  color:rgb(214, 214, 214);
  padding-top: 10px; 
  font-family:"Monda-Regular"; 
  margin-top:5px;
  padding-left:5px;
}
Label
{
  font-family:"JuliusSansOne-Regular";
  color:whitesmoke;
}
.form-control:focus, .form-control:hover
{
    background-color:rgb(77, 68, 68);
    outline:none;
    box-shadow:none;
    border-color:lightgray;
    color:rgb(214, 214, 214);
}
.invalid-feedback
{
  color:rgb(245, 131, 131);
}

  
  .wrapper {

    transition: all 0.5s ease-in-out;
    background:transparent;


  
    // &.home &.about {
    //   background: rgba(9, 60, 111, 1);
    //   color: #f1f1f1;
    // }
  
    // // &.about {
    // //   background: rgba(214, 218, 93, 1);
    // //   color: rgb(14, 13, 13);
    // // }
    // &.services{
    //   background: rgba(249, 58, 58, 1);
    //   color: rgb(14, 13, 13);
    // }
    // &.team {
    //   background: rgba(58, 249, 139, 1);
    //   color: rgb(14, 13, 13);
    // }
    // &.contact{
    //   background: rgba(75, 161, 248, 1);
    //   color: #f1f1f1;
    // } 
  }

//   <---------------------END SCSS TRANSITIONS----------->

// <----------------HOME--------------------------->
